.btn {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  font-family: inherit;
  font-weight: 700;
  color: rgba(254, 250, 78, 0.95);
  background: rgba(6, 6, 5, 0.9);
  box-shadow: 0 0 5px 1px rgba(254, 250, 78, 0.55);
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid rgba(254, 250, 78, 0.85);
  border-radius: 4px;
}