.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: rgba(254, 250, 78, 0.9);
  max-width: 300px;
  border-radius: 10px;
  border: 2px solid rgba(6, 6, 5, 0.9);
  margin: 50px auto 30px auto;
  padding: 5px 0;
  -webkit-box-shadow: 0 0 7px 3px rgba(6, 6, 5, 0.7), inset 0 0 13px 2px rgba(117, 117, 36, 0.9);
  box-shadow: 0 0 7px 3px rgba(6, 6, 5, 0.7), inset 0 0 13px 2px rgba(117, 117, 36, 0.9);
}

.grid.hide {
  display: none;
}

.grid-item {
  padding: 5px 20px;
}

.grid-title {
  text-transform: uppercase;
  padding: 10px 20px;
  color: rgba(0,0,0, 0.95);
}

.grid-divisor {
  grid-column: 1 / 3;
  background: rgba(96, 97, 92, 0.8);
  height: 1px;
  margin: 0 20px 5px 20px;
}

.grid-full-row {
  grid-column: 1 / 3;
  justify-self: center;
}

@media (min-width: 768px) {
  .grid {
    max-width: 500px;
  }

  .grid-item {
    padding: 7px 20px;
  }
}